
TrackingSDK.xcodeproj/xcuserdata/
TrackingSDK.xcodeproj/project.xcworkspace/xcuserdata/sun.xcuserdatad/
TrackingSDK.xcodeproj/xcuserdata/sun.xcuserdatad/xcschemes/
TrackingSDK.xcodeproj/project.xcworkspace/xcuserdata/
TrackingSDK.xcodeproj/project.xcworkspace/xcuserdata/sun.xcuserdatad/UserInterfaceState.xcuserstate
TrackingSDK.xcodeproj/xcuserdata/sun.xcuserdatad/xcschemes/xcschememanagement.plist

